<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>予約編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>予約を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('home') }}">HOME</a></li>
        <li><a href="{{ url_for('reservation.list') }}">予約一覧</a></li>
        <li>予約の編集</li>
    </ul>

    <form action="{{ url_for('reservation.edit', reservation_id=reservation.id) }}" method="post">
        <label>顧客：
            <select name="customer_id" required>
                {% for customer in customers %}
                    <option value="{{ customer.id }}" {% if reservation.customer.id == customer.id %}selected{% endif %}>{{ customer.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>フード商品名: 
            <select name="food_id" required>
                {% for food in foods %}
                    <option value="{{ food.id }}" {% if reservation.food.id == food.id %}selected{% endif %}>{{ food.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>ドリンク商品名:  
            <select name="drink_id" required>
                {% for drink in drinks %}
                    <option value="{{ drink.id}}" {% if reservation.drink.id == drink.id %}selected{% endif %}>{{ drink.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
